@font-face {
  font-family: Nunito-Regular;
  src: url('./Nunito-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Nunito-Bold;
  src: url('./Nunito-Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url('./Nunito-SemiBold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Nunito-Medium;
  src: url('./Nunito-Medium.ttf');
  font-weight: normal;
}

