.checkboxBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  width: fit-content;

  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--gray);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      border-color: var(--theme-color);
    }

    &:checked {
      border-color: var(--theme-color);

      &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid var(--black);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  .title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray);
  }

}


