.lastRecipes {
  padding: 20px 30px 20px 20px;
  margin-bottom: 80px;
  .title {
    display: flex;
    justify-content: space-between;
    .categoriesItem {
      font-family: "Nunito-Bold", sans-serif;
      font-size: 48px;
    }

    .all {
      font-family: "Nunito-Bold", sans-serif;
      font-size: 48px;
      color: var(--theme-color);
      cursor: pointer;
    }
  }

  .lastRecipesList {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
}

@media screen and (max-width: 820px) {
  .lastRecipes {
    .title {
      .categoriesItem {
        font-size: 24px;
      }
      .all {
        font-size: 24px;
      }
    }

    .lastRecipesList {
      justify-content: space-around;
    }
  }
}