:root {
  --black: #000000;
  --white: #FFFFFF;
  --theme-color: #FF9500;
  --theme-color-300: #ffb22a;
  --light-gray: #F0F0F0;
  --dark-gray: #484848;
  --gray: #A0A5BA;
  --light-gray-secondary: #D9D9D9;
  --red: #FF9C9D;
}